<a href="https://colab.research.google.com/github/mintra-tippayaratsontorn/Multivariate/blob/main/Exam01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exam 01

In [9]:
import pandas as pd

In [13]:
pizza = pd.read_csv('/content/Pizza.csv')
pizza

    brand     id   mois   prot    fat   ash  sodium   carb   cal
0       A  14069  27.82  21.43  44.87  5.11    1.77   0.77  4.93
1       A  14053  28.49  21.26  43.89  5.34    1.79   1.02  4.84
2       A  14025  28.35  19.99  45.78  5.08    1.63   0.80  4.95
3       A  14016  30.55  20.15  43.13  4.79    1.61   1.38  4.74
4       A  14005  30.49  21.28  41.65  4.82    1.64   1.76  4.67
..    ...    ...    ...    ...    ...   ...     ...    ...   ...
295     J  34044  44.91  11.07  17.00  2.49    0.66  25.36  2.91
296     J  24069  43.15  11.79  18.46  2.43    0.67  24.17  3.10
297     J  34039  44.55  11.01  16.03  2.43    0.64  25.98  2.92
298     J  14044  47.60  10.43  15.18  2.32    0.56  24.47  2.76
299     J  14045  46.84   9.91  15.50  2.27    0.57  25.48  2.81

[300 rows x 9 columns]

In [14]:
pizza.shape

(300, 9)

In [23]:
newpizza = pizza.iloc[:,7:]
newpizza.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [24]:
import numpy as np

In [25]:
corr = np.corrcoef(newpizza.to_numpy().T)

In [26]:
corr.shape

(0, 0)

In [27]:
corr

array([], shape=(0, 0), dtype=float64)

In [28]:
for i in range(corr.shape[0]):
    for j in range(corr.shape[1]):
      if (i !=j) and (corr[i,j] == 1.):
        print(f'row = {i} colum = {j} corrcoef = {corr[i,j]}')