<a href="https://colab.research.google.com/github/mintra-tippayaratsontorn/Multivariate/blob/main/Function_Numpy_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Function

```python
def function_name(_Input_) : 
    do_something with _Input_ to get _Output_
    return _Output_
```

*เอียง*

```backtick กดค้างตรงที่เปลี่ยนภาษา

function มีส่วนสำคัญทั้งหมด 4 ส่วน
  1. บอก python ว่าเราจะเขียนฟังก์ชัน ชื่ออะไร def function_name(): (ขาดไม่ได้)
  2. กำหนดตัวแปรที่จะเป็น input output (ขาดได้)
  3. ส่นประมวลผล do_something with _Input_ to get _Output_ (ขาดไม่ได้)
  4. ส่วน output return _Output_ (ขาดได้)

เราใช้เว้นวรรค (indent) เพื่อบอกขอบเขตของ code

หน้าที่คือรับ input และทำตามกระบวนการละก็ได้ Output ออกมา

### สร้างฟังก์ชัน

In [29]:
def print_name(name,surname,ID) : # input มีกี่ตัวก็ได้/ไม่มีก็ได้
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  return st
print('outside function')

outside function

### เรียกใช้ฟังก์ชัน

In [30]:
print_name('มินตรา','ทิพยรัตน์สุนทร','623020041-2')

'ชื่อ มินตรา นามสกุล ทิพยรัตน์สุนทร รหัส 623020041-2'

In [31]:
output_string = print_name('มินตรา','ทิพยรัตน์สุนทร','623020041-2')
print(output_string)

ชื่อ มินตรา นามสกุล ทิพยรัตน์สุนทร รหัส 623020041-2

### ฟังก์ชันไม่จำเป็นต้องมี output

In [32]:
def print_name2(surname,ID,name) :
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  print(st)

In [33]:
print_name2('มินตรา','ทิพยรัตน์สุนทร','623020041-2')

ชื่อ 623020041-2 นามสกุล มินตรา รหัส ทิพยรัตน์สุนทร

In [34]:
op2 = print_name2('มินตรา','ทิพยรัตน์สุนทร','623020041-2')

ชื่อ 623020041-2 นามสกุล มินตรา รหัส ทิพยรัตน์สุนทร

In [35]:
print(op2)

None

### ฟังก์ชันไม่จำเป็นต้องมี input

In [36]:
def Pi() :
  return 3.14159265359

In [37]:
# คำนวณพื้นที่วงกลมที่มีขนาดเส้นผ่าศูนย์กลางเท่ากับ 3
Pi()*(1.5**2)

7.0685834705775

In [38]:
def print_my_name():
    print('มินตรา ทิพยรัตน์สุนทร 623020041-2')

In [39]:
print_my_name()

มินตรา ทิพยรัตน์สุนทร 623020041-2

### input ของ function ใน python มี2แบบ input ที่จำเป็นต้องใส่ (มีค่า default)

### เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [40]:
def print_2lines_default(name, surname, ID, grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)
    st2=f'เกรดวิชา Multivariate >>> {grade}'
    print(st2)

In [41]:
print_2lines_default('มินตรา','ทิพยรัตน์สุนทร','623020041-2')

ชื่อ มินตรา นามสกุล ทิพยรัตน์สุนทร รหัส 623020041-2
เกรดวิชา Multivariate >>> F

In [42]:
print_2lines_default('มินตรา','ทิพยรัตน์สุนทร','623020041-2','A')

ชื่อ มินตรา นามสกุล ทิพยรัตน์สุนทร รหัส 623020041-2
เกรดวิชา Multivariate >>> A

### เราสามารถเรียกฟังก์ชันโดยใช้ชื่อตัวแปรของฟังก์ชันช่วยได้

In [43]:
print_name2(name='มินตรา' , surname='ทิพยรัตน์สุนทร' , ID='623020041-2')

ชื่อ มินตรา นามสกุล ทิพยรัตน์สุนทร รหัส 623020041-2

HW3 ให้เขียน function คำนวณจำนวณวินาทีจากเวลาต่อไปนี้

'14-15-31'

'13-00-01'

'05-49-44'

'00-00-16'

และ print ให้สวยงาม

In [44]:
def function_q (times):
    q = f'เวลาทั้งหมด = {times}'
    print(q)
    times_sp = times.split('-')
    h = int(times_sp[0])*3600
    m = int(times_sp[1])*60
    s = int(times_sp[2])
    aq = h+m+s
    print(f'คำนวณเป็นวินาทีได้เท่ากับ {aq} วินาที')

In [45]:
function_q('14-15-31')

เวลาทั้งหมด = 14-15-31
คำนวณเป็นวินาทีได้เท่ากับ 51331 วินาที

In [46]:
function_q('13-00-01')

เวลาทั้งหมด = 13-00-01
คำนวณเป็นวินาทีได้เท่ากับ 46801 วินาที

In [47]:
function_q('05-49-44')

เวลาทั้งหมด = 05-49-44
คำนวณเป็นวินาทีได้เท่ากับ 20984 วินาที

In [48]:
function_q('00-00-16')

เวลาทั้งหมด = 00-00-16
คำนวณเป็นวินาทีได้เท่ากับ 16 วินาที